@use './base/variables';
@use './base/reset';
@use './base/typography';
@use './layout/structure';
@use './components/controls';
@use './components/content';
@use './components/slides-layout';
@use './components/slide1';
@use './components/slide2';
@use './components/slide7';
@use './components/language-selector';
@use './components/swipe-hint';
@use './utilities/responsive';